<h1><%=@user.username%>'s Collection</h1>
<a href="/pieces/new">add a new piece</a>
<%if @user.pieces.length > 0%>
    <%@user.pieces.each do |piece|%>
    <p><a href="/pieces/<%=piece.id%>"><%=piece.title%></a> <a href="/pieces/<%=piece.id%>/edit">edit</a> <a href="/pieces/<%=piece.id%>/delete">removbe</a></p>
    <%end%>
<%else%>
    <p>Your collection is currently empty</p>
<%end%>    

<a href="/show/logout">Log Out</a>