<a href="/pieces">All Pieces</a> <a href="/logout">Log Out</a>
<% if flash.has?(:message)%>
    <%=flash[:message]%>
<%end%>
<br>
<h1><%=@user.username%>'s Collection</h1>
<a href="/pieces/new">add a new piece</a>
<%if !@user.pieces.empty?%>
    <%@user.pieces.each do |piece|%>
    <p><a href="/pieces/<%=piece.id%>"><%=piece.title%></a> <a href="/pieces/<%=piece.id%>/edit"><input type="button" value="edit"></a> <a href="/pieces/<%=piece.id%>/delete"><input type="button" value="delete"></a></p>
    <%end%>
<%else%>
    <p>Your collection is currently empty</p>
<%end%>    
