<h1>Edit Piece</h1>
<br>

<form action="/pieces/<%=@piece.id%>" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
<p>Title: <input type="text" id="title" name="piece[title]" value="<%=@piece.title%>"></p>
<p>Creator: <input type="text" id="creator" name="piece[creator]" value="<%=@piece.creator%>"></p>
<p>Description: <input type="text" id="description" name="piece[description]" value="<%=@piece.description%>"></p>
<p>Medium: <input type="text" id="medium" name="piece[medium]" value="<%=@piece.medium%>"></p>
<p>Dimensions: <input type="text" id="dimensions" name="piece[dimensions]" value="<%=@piece.dimensions%>"></p>
<p>Weight: <input type="text" id="weight" name="piece[weight]" value="<%=@piece.weight%>"></p>
<p>Condition: <input type="text" id="condition" name="piece[condition]"></p>
<p>Add a Treatment:</p>
<p>Treatment: <input type="text" id="treatment_1" name="treatment[]"></p>
<p>Current Treatments:</p>
<%if @current_treatments.length > 0%>
    <%@current_treatments.each do |treatment|%>
    <p><%= treatment.start_condition%></p>
    <p><%= treatment.description%></p>
    <%end%>
<%else%>
    <p>This piece has no past treatments.</p> 
<%end%>  
<p>Past Treatments:</p>
<%if @past_treatments.length > 0%>
    <%@past_treatments.each do |treatment|%>
    <p><%= treatment.start_condition%></p>
    <p><%= treatment.description%></p>
    <p><%= treatment.end_condition%></p>
    <%end%>
<%else%>
    <p>This piece has no past treatments.</p> 
<%end%>  
<p>Hours Shown: <input type="text" id="hours_shown" name="piece[hours_shown]" value="<%=@piece.hours_shown%>"></p>
<p>Currently showing?</p>
<p><input type="checkbox" id="showing" name="piece[showing]" value="true">Check if piece is currently showing.</p>
<p>Current Location: <input type="text" id="location" name="piece[location]" value="<%=@piece.location%>"></p>
<p>Provenance: <input type="text" id="provenace" name="piece[provenance]" value="<%=@piece.provenance%>"></p>
<p>Appraised Value: <input type="text" id="appraised_value" name="piece[appraised_value]" value="<%=@piece.appraised_value%>"></p>
<p>Notes: <input type="text" id="notes" name="piece[notes]" value="<%=@piece.notes%>"></p>
<p><input type="submit" value="Edit Piece"></p>
</form>