<h1><%=@piece.title%></h1>
<br>
<br>
<h4>Creator:</h4>
<p><%=@piece.creator%></p>
<br>
<h4>Description:</h4>
<p><%=@piece.description%></p>
<br>
<h4>Medium:</h4>
<p><%=@piece.medium%></p>
<br>
<h4>Dimensions:</h4>
<p><%=@piece.dimensions%></p>
<br>
<h4>Weight:</h4>
<p><%=@piece.weight%></p>
<br>
<h4>Condition:</h4>
<p><%=@piece.condition%></p>
<br>
<h4>Current Treatments:</h4>
<p><%@piece.treatments.each_with_index do |treatment, index|%></p>
    <%if treatment.done == nil%>
    <h4><%=index + 1%>.</h4>
    <%=treatment.start_condition%>
    <br>
    <%=treatment.description%>
    <br>
    <a href="/treatments/<%=treatment.id%>/mark-as-done"><input type="button" value="mark as done"></a> <a href="/treatments/<%=treatment.id%>/remove"><input type="button" value="remove"></a>
    <%end%>
<%end%>
<br>
<h4>Previous Treatments:</h4>
<p><%@piece.treatments.each do |treatment|%></p>
    <%if treatment.done == true%>
    <%=treatment.start_condition%>
    <%=treatment.end_condition%>
    <%=treatment.description%>
    <%end%>
<%end%>
<br>
<h4>Hours Shown:</h4>
<p><%=@piece.hours_shown%></p>
<br>
<h4>Currently Showing?</h4>
    <%if !!@piece.showing%>
        <p>Yes</p>
    <%else%>
        <p>No</p>
    <%end%>
<br>
<h4>Location:</h4>
<p><%=@piece.location%></p>
<br>
<h4>Provenance:</h4>
<p><%=@piece.provenance%></p>
<br>
<h4>Apppraised Value:</h4>
<p><%=@piece.appraised_value%></p>
<br>
<h4>Notes:</h4>
<p><%=@piece.notes%></p>